@if (JobDetails != null)
{
    
    <div class="job-section">
        <Heading Size="HeadingSize.Is5">@JobDetails.JobTitle at @JobDetails.Company</Heading>
        <Paragraph>@JobDetails.StartDate.ToShortDateString() - @(JobDetails.DisplayEndDate) (@JobDetails.Duration)</Paragraph>
        <Paragraph>@JobDetails.Description</Paragraph>


        @if (JobDetails.Highlights != null && JobDetails.Highlights.Any())
        {
            <UnorderedList>
                @foreach (var highlight in JobDetails.Highlights)
                {
                    <UnorderedListItem>@highlight.Text</UnorderedListItem>
                }
            </UnorderedList>
        }

        @if (JobDetails.Projects != null && JobDetails.Projects.Any())
        {
            @foreach (var project in JobDetails.Projects)
            {
                <div>
                    <Heading Size="HeadingSize.Is6">Project: @project.Name</Heading>
                    <Paragraph>@project.Description</Paragraph>
                    @if (project.Highlights != null && project.Highlights.Any())
                    {
                        <UnorderedList>
                            @foreach (var ph in project.Highlights)
                            {
                                <UnorderedListItem>@ph.Text</UnorderedListItem>
                            }
                        </UnorderedList>
                    }
                </div>
            }
        }
    
        @if (JobDetails.Skills != null && JobDetails.Skills.Any())
        {
            <Strong>Technologies Used:</Strong>
            <p>@String.Join(", ", JobDetails.Skills.Select(x => x.Name))</p>
        }
    </div>
}
