@typeparam TOptions where TOptions : class, new()

<Card>
    <CardHeader>
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <Strong>@Title</Strong>
            @if (OnDeleted.HasDelegate)
            {
                <Button Color="Color.Danger" Clicked="@(()=> showModal = true)">Delete</Button>
            }
        </div>
    </CardHeader>
    <CardBody>
        <CardText>
            <Validations @ref="validationsRef" Mode="ValidationMode.Manual" Model="@Options" ValidateOnLoad="false">
                @ChildContent
            </Validations>
        </CardText>

    </CardBody>
    <CardFooter>
        
        @if (OnSaved.HasDelegate)
        {
            <Button Color="Color.Primary" Clicked="@HandleValidSubmit">Submit</Button>
        }
    
        @if (OnCancelled.HasDelegate)
        {
            <Button Color="Color.Secondary" Clicked="@Cancel">Cancel</Button>
        }

    </CardFooter>
    

</Card>


<Modal @bind-Visible="showModal">
    <ModalContent Centered>
        <ModalHeader>
            <h5>Confirm Delete</h5>
        </ModalHeader>
        <ModalBody>
            Are you sure you want to delete this item?
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="@Delete">Confirm Delete</Button>
            <Button Color="Color.Secondary" Clicked="@(() => showModal = false)">Cancel</Button>
        </ModalFooter>
    </ModalContent>

</Modal>