@using ResumePro.Shared.Models
@if (FilterContainer != null)
{
    
    <Container Margin="Margin.Is3.FromBottom">
        <Dropdown Display="Display.InlineBlock">
            <DropdownToggle Color="Color.Primary">Select States (@PersonFilters.States.Count)</DropdownToggle>
            <DropdownMenu MaxMenuHeight="200px">

                @foreach (StateProvinceOutput state in FilterContainer.States)
                {
                    <DropdownItem ShowCheckbox="true" Checked="StateStates[state.Id]" CheckedChanged="() => ToggleState(state.Id)">
                        @state.Name
                    </DropdownItem>
                }

            </DropdownMenu>
        </Dropdown>
        <Dropdown Display="Display.InlineBlock">
            <DropdownToggle Color="Color.Primary">
                Select Skills (@PersonFilters.Skills.Count)
            </DropdownToggle>
            <DropdownMenu MaxMenuHeight="200px">
                @foreach (KeyValuePair<string, List<SkillDto>> kvp in SkillDictionary)
                {
                    <Dropdown>
                        <DropdownToggle>@kvp.Key</DropdownToggle>
                        <DropdownMenu MaxMenuHeight="300px">
                            @foreach (SkillDto skill in kvp.Value)
                            {
                                <DropdownItem Checked="SkillStates[skill.Id]" ShowCheckbox="true" CheckedChanged="()=>ToggleSkill(skill.Id)">
                                    @skill.Title
                                </DropdownItem>
                            }
                        </DropdownMenu>
                               
                    </Dropdown>
                }
                       
            </DropdownMenu>
        </Dropdown>
        <Button Color="Color.Light" Clicked="Callback">Clear Filters</Button>
    </Container>

}