@using ResumePro.Shared.Models
<h3>PersonView</h3>

@if (Person != null)
{
    @Person.FirstName


    <DataGrid TItem="CompanyDto" Data="@Person.Jobs" TotalItems="@Person.JobCount"
              ShowPager="false"
              Responsive>

        <DataGridColumns>
            <DataGridColumn Field="@nameof(CompanyDto.CompanyName)"></DataGridColumn>
            <DataGridColumn Field="@nameof(CompanyDto.StartDate)"></DataGridColumn>
            <DataGridColumn Field="@nameof(CompanyDto.DisplayEndDate)"></DataGridColumn>
        </DataGridColumns>

    </DataGrid>
}