@typeparam TOptions where TOptions : class, new()

<Card>
    <CardHeader>
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <Strong>@Title</Strong>
            @if (OnDeleted.HasDelegate)
            {
                <Button Color="Color.Danger" Clicked="@Delete">Delete</Button>
            }
        </div>
    </CardHeader>
    <CardBody>
        <CardText>
            <Validations @ref="validationsRef" Mode="ValidationMode.Manual" Model="@Options" ValidateOnLoad="false">
                @ChildContent
            </Validations>
        </CardText>

    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" Clicked="@HandleValidSubmit">Submit</Button>
        <Button Color="Color.Secondary" Clicked="@Cancel">Cancel</Button>
    </CardFooter>
</Card>