@inherits FormComponent<JobOptions>

<Validations @ref="validationsRef" Mode="ValidationMode.Manual" Model="@Options" ValidateOnLoad="false">
    <Fields>
        <Validation>
            <Field ColumnSize="ColumnSize.IsFull">
                <FieldLabel>Title</FieldLabel>
                <TextEdit Placeholder="Enter title" @bind-Text="Options.Title">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field ColumnSize="ColumnSize.IsHalf">
                <FieldLabel>Company</FieldLabel>
                <TextEdit Placeholder="Enter company" @bind-Text="Options.Company">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field ColumnSize="ColumnSize.IsHalf">
                <FieldLabel>Location</FieldLabel>
                <TextEdit Placeholder="Enter location" @bind-Text="Options.Location">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Field>
        </Validation>
        <Validation>
            <Field ColumnSize="ColumnSize.IsHalf">
                <FieldLabel>Start Date</FieldLabel>
                <DatePicker @bind-Date="@Options.StartDate">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </DatePicker>
            </Field>
        </Validation>
        <Validation>
            <Field ColumnSize="ColumnSize.IsHalf">
                <FieldLabel>End Date</FieldLabel>
                <DatePicker @bind-Date="@Options.EndDate">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </DatePicker>
            </Field>
        </Validation>
        <Validation>
            <Field ColumnSize="ColumnSize.IsFull">
                <FieldLabel>Description</FieldLabel>
                <MemoEdit Rows="2" Placeholder="Enter description" @bind-Text="Options.Description">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </MemoEdit>
            </Field>
        </Validation>

        <Card Margin="Margin.Is3.FromBottom">
            <CardHeader>
                <Strong>Highlights</Strong>
            </CardHeader>
            <CardBody>
                <CardText>
                    @foreach (var highlight in Options.HighlightOptions.Select((value, index) => new { value, index }))
                    {
                        <Column ColumnSize="ColumnSize.Is11">
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <Validation>
                                        <Field ColumnSize="ColumnSize.Is9">
                                            <TextEdit @bind-Text="highlight.value.Text" Placeholder="Enter highlight">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>

                                        </Field>
                                    </Validation>
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Field>
                                        <Buttons>
                                            <Button Color="Color.Light" Clicked="@(() => MoveHighlightUp(highlight.index))" Disabled="@(highlight.index == 0)">
                                                <Icon Name="IconName.ArrowUp" />
                                            </Button>
                                            <Button Color="Color.Light" Clicked="@(() => MoveHighlightDown(highlight.index))" Disabled="@(highlight.index == @Options.HighlightOptions.Count - 1)">
                                                <Icon Name="IconName.ArrowDown" />
                                            </Button>
                                            <Button Color="Color.Danger" Clicked="@(() => RemoveHighlight(highlight.value))">
                                                <Icon Name="IconName.Delete" />
                                            </Button>
                                        </Buttons>
                                    </Field>

                                </Addon>
                            </Addons>
                        </Column>

                    }
                </CardText>
                <Button Color="Color.Primary" Clicked="@AddHighlight">Add Highlight</Button>

            </CardBody>
        </Card>

        <Card Margin="Margin.Is5.FromBottom">
            <CardHeader>
                <Strong>Projects</Strong>
            </CardHeader>
            <CardBody>
                <CardText>
                    @foreach (var project in Options.ProjectOptions.Select((value, index) => new { value, index }))
                    {
                        <Card Margin="Margin.Is3">
                            <CardBody>
                                <CardText>

                                    <Addons>
                                        <Addon AddonType="AddonType.Body">
                                            <Validation>
                                                <Field ColumnSize="ColumnSize.IsHalf" Padding="Padding.Is1.FromEnd">
                                                    <TextEdit @bind-Text="project.value.Name" Placeholder="Enter name">
                                                        <Feedback>
                                                            <ValidationError />
                                                        </Feedback>
                                                    </TextEdit>

                                                </Field>
                                            </Validation>
                                            <Validation>
                                                <Field ColumnSize="ColumnSize.IsHalf" Padding="Padding.Is1.FromStart">
                                                    <NumericEdit @bind-Value="project.value.Budget" Placeholder="Enter budget">
                                                        <Feedback>
                                                            <ValidationError />
                                                        </Feedback>
                                                    </NumericEdit>

                                                </Field>
                                            </Validation>

                                            <Validation>
                                                <Field ColumnSize="ColumnSize.IsFull">
                                                    <MemoEdit @bind-Text="project.value.Description" Placeholder="Enter description">
                                                        <Feedback>
                                                            <ValidationError />
                                                        </Feedback>
                                                    </MemoEdit>

                                                </Field>
                                            </Validation>

                                        </Addon>

                                    </Addons>



                                    <Card Margin="Margin.Is3.FromBottom">
                                        <CardHeader>
                                            <Strong>Project Highlights</Strong>
                                        </CardHeader>
                                        <CardBody>
                                            
                                            <CardText>


                                                @foreach (var highlight in project.value.HighlightOptions.Select((value, index) => new { value, index }))
                                                {

                                                    <Addons>
                                                        <Addon AddonType="AddonType.Body">

                                                            <Validation>
                                                                <Field ColumnSize="ColumnSize.Is9">
                                                                    <TextEdit @bind-Text="highlight.value.Text" Placeholder="Enter highlight">
                                                                        <Feedback>
                                                                            <ValidationError />
                                                                        </Feedback>
                                                                    </TextEdit>

                                                                </Field>
                                                            </Validation>
                                                        </Addon>
                                                        <Addon AddonType="AddonType.End">
                                                            <Field>
                                                                <Field>
                                                                    <Buttons>
                                                                        <Button Color="Color.Light" Clicked="@(() => MoveProjectHighlightUp(project.value, highlight.index))" Disabled="@(highlight.index == 0)">
                                                                            <Icon Name="IconName.ArrowUp" />

                                                                        </Button>
                                                                        <Button Color="Color.Light" Clicked="@(() => MoveProjectHighlightDown(project.value, highlight.index))" Disabled="@(highlight.index == @project.value.HighlightOptions.Count - 1)">
                                                                            <Icon Name="IconName.ArrowDown" />
                                                                        </Button>
                                                                        <Button Color="Color.Danger" Clicked="@(() => RemoveProjectHighlight(project.value, highlight.value))">
                                                                            <Icon Name="IconName.Delete" />
                                                                        </Button>
                                                                    </Buttons>
                                                                </Field>

                                                            </Field>
                                                        </Addon>
                                                    </Addons>

                                                }
                                            </CardText>
                                            <Button Color="Color.Primary" Clicked="@(() => AddProjectHighlight(project.value))">Add Project Highlight</Button>

                                        </CardBody>
                                    </Card>

                                </CardText>
                                <Buttons>
                                    <Button Color="Color.Light" Clicked="@(() => MoveProjectUp(project.index))" Disabled="@(project.index == 0)">
                                        <Icon Name="IconName.ArrowUp" />
                                    </Button>
                                    <Button Color="Color.Light" Clicked="@(() => MoveProjectDown(project.index))" Disabled="@(project.index == @Options.ProjectOptions.Count - 1)">
                                        <Icon Name="IconName.ArrowDown" />
                                    </Button>
                                    <Button Color="Color.Danger" Clicked="@(() => RemoveProject(project.value))">
                                        <Icon Name="IconName.Delete" />
                                    </Button>
                                </Buttons>

                            </CardBody>

                        </Card>

                    }

                </CardText>
                <Button Color="Color.Primary" Clicked="@AddProject">Add Project</Button>

            </CardBody>
        </Card>
        <Field>
            <Button Color="Color.Primary" Clicked="HandleValidSubmit">Submit</Button>
            <Button Color="Color.Secondary" Clicked="Cancel">Cancel</Button>

        </Field>
    </Fields>

</Validations>
