<div class="resume-details">
    

    <h2>@Resume.FirstName @Resume.LastName, @Resume.JobTitle</h2>
    <p>@Resume.Description</p>

    <ResumeContactInfoComponent Resume="@Resume"></ResumeContactInfoComponent>

    <h3>Experience</h3>
    @if (Resume.Jobs != null)
    {
        @foreach (var job in Resume.Jobs)
        {
            <JobDetailsComponent JobDetails="@job"></JobDetailsComponent>
        }
    }

    <h3>Education</h3>
    @if (Resume.Education != null)
    {
        foreach (var edu in Resume.Education)
        {
            <SchoolDetailsComponent School="@edu"></SchoolDetailsComponent>
        }
    }
    
    <h3>Certifications</h3>
    @if (Resume.Certifications != null)
    {

    }

</div>