@    using ResumePro.Shared;
    using ResumePro.Shared.Models

@code {
    [Parameter]
    public ResumeDetails Resume { get; set; }
}

<div class="resume-details">
    <h2>@Resume.FirstName @Resume.LastName, @Resume.JobTitle</h2>
    <p><strong>Email:</strong> @Resume.Email</p>
    <p><strong>Phone:</strong> @Resume.PhoneNumber</p>
    <p><strong>LinkedIn:</strong> <a href="@Resume.LinkedIn">@Resume.LinkedIn</a></p>
    <p><strong>GitHub:</strong> <a href="@Resume.GitHub">@Resume.GitHub</a></p>
    <p><strong>Location:</strong> @Resume.City, @Resume.State, @Resume.Country</p>

    <h3>Experience</h3>
    @if (Resume.Jobs != null)
    {
        @foreach (var job in Resume.Jobs)
        {
            <div class="job-section">
                <h4>@job.Title at @job.Company</h4>
                <p>@job.StartDate.ToShortDateString() - @(job.DisplayEndDate) (@job.Duration)</p>
                <p>@job.Description</p>

                @if (job.Highlights != null && job.Highlights.Any())
                {
                    <ul>
                        @foreach (var highlight in job.Highlights)
                        {
                            <li>@highlight.Text</li>
                        }
                    </ul>
                }

                @if (job.Projects != null && job.Projects.Any())
                {
                    @foreach (var project in job.Projects)
                    {
                        <div>
                            <h6>Project: @project.Name</h6>
                            <p>@project.Description</p>
                            @if (project.Highlights != null && project.Highlights.Any())
                            {
                                <ul>
                                    @foreach (var ph in project.Highlights)
                                    {
                                        <li>@ph.Text</li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                }
            </div>
        }

    }

    <h3>Education</h3>
    @if (Resume.Education != null)
    {
        foreach (var edu in Resume.Education)
        {
            <div>
                <h4>@edu.Name</h4>
                <p>@edu.StartDate.ToShortDateString() - @edu.EndDate?.ToShortDateString()</p>
                @foreach (var degree in edu.Degrees)
                {
                    <p>@degree.Name</p>
                }
            </div>
        }
    }
</div>