@page "/people/{PersonId:int}/resumes/{ResumeId:int}/edit"
@using Microsoft.AspNetCore.Authorization
@inherits PersonPageBase
@attribute [Authorize]

@if (Person != null)
{
    <div class="container sticky-top mt-3">
        <Breadcrumb>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">People</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="@($"/people/{PersonId}")">@Person.LastName, @Person.FirstName</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="@($"/people/{PersonId}/resumes/{ResumeId}")">@ResumeDetails.JobTitle</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem Active>
                <BreadcrumbLink To="#">Edit Resume</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>
    </div>

    <Container>

        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnDesktop">

                <ResumeFormComponent @ref="Form" PersonId="@PersonId" Title="Edit Resume" OnSaved="HandleValidSubmit" OnCancelled="HandleCancelled" Options="Options">

                </ResumeFormComponent>
            </Column>
        </Row>
    </Container>
}