@page "/people/{PersonId:int}/jobs/{JobId:int}/edit"
@inherits PersonPageBase

@if (Job != null)
{
    <div class="container sticky-top mt-3">
        <Breadcrumb>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">People</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="@($"/people/{PersonId}")">@Person.LastName, @Person.FirstName</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem Active>
                <BreadcrumbLink To="#">Edit Job: @Job.Title, @Job.Company</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>
    </div>
    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
                <JobFormComponent Title="Edit Job" Options="Options" OnSaved="HandleValidSubmit" OnCancelled="HandleCancelled" OnDeleted="HandleDelete"></JobFormComponent>
            </Column>
        </Row>
    </Container>
}