@page "/people/{PersonId:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inherits PersonPageBase

@if (@Person != null)
{
    <div class="container sticky-top mt-3">
        <Breadcrumb>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">People</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem Active>
                <BreadcrumbLink To="#">@Person.LastName, @Person.FirstName</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>

        <ul class="nav nav-tabs" id="resumeTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("basicInfo")" id="basic-info-tab" data-bs-toggle="tab" data-bs-target="#basicInfo" type="button" role="tab" aria-controls="basicInfo" aria-selected="true">
                    <Icon Name="IconName.User"></Icon>
                    Person Details
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("resumes")" id="resumes-tab" data-bs-toggle="tab" data-bs-target="#resumes" type="button" role="tab" aria-controls="resumes" aria-selected="false">
                    <Icon Name="@("fa-file-alt")"></Icon>
                    Resumes (@Person.ResumeCount)
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("jobs")" id="jobs-tab" data-bs-toggle="tab" data-bs-target="#jobs" type="button" role="tab" aria-controls="jobs" aria-selected="false">
                    <Icon Name="IconName.Briefcase"></Icon>
                    Jobs (@Person.JobCount)
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("education")" id="education-tab" data-bs-toggle="tab" data-bs-target="#education" type="button" role="tab" aria-controls="education" aria-selected="false">
                    <Icon Name="@("fa-graduation-cap")"></Icon>
                    Education
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("skills")" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skills" type="button" role="tab" aria-controls="skills" aria-selected="false">
                    <Icon Name="@("fa-tools")"></Icon>

                    Skills (@Person.SkillCount)
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("certifications")" id="certifications-tab" data-bs-toggle="tab" data-bs-target="#certifications" type="button" role="tab" aria-controls="certifications" aria-selected="false">
                    <Icon Name="@("fa-certificate")"></Icon>

                    Certifications
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link @ActiveTabClass("references")" id="references-tab" data-bs-toggle="tab" data-bs-target="#references" type="button" role="tab" aria-controls="references" aria-selected="false">
                    <Icon Name="@("fa-user-check")"></Icon>

                    References
                </button>
            </li>
        </ul>

    </div>

    <Container Margin="Margin.Is3.FromTop">

        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade @ActiveTabPaneClass("basicInfo")" id="basicInfo" role="tabpanel" aria-labelledby="basic-info-tab">
                <div class="p-4">
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-primary" @onclick="EditPersonDetails">Edit Person Details</button>
                    </div>
                    <PersonContactInfoComponent Person="@Person"></PersonContactInfoComponent>

                    <PersonLanguagesCard Person="@Person"></PersonLanguagesCard>

                </div>
            </div>
            <div class="tab-pane fade @ActiveTabPaneClass("resumes")" id="resumes" role="tabpanel" aria-labelledby="resumes-tab">
                <div class="p-4">
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-primary" @onclick="CreateNewResume">Add Resume</button>
                    </div>
                    @if (Person.Resumes is { Count: > 0 })
                    {

                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            @foreach (var resume in Person.Resumes)
                            {
                                <div class="col">
                                    <div @onclick="@(() => EditResume(resume.Id))" style="cursor: pointer;">
                                        <ResumeCardComponent PersonId="@PersonId" Resume="@resume"></ResumeCardComponent>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">
                            No resumes available. Click 'Create New Resume' to add one.
                        </div>
                    }

                </div>
            </div>
            <div class="tab-pane fade @ActiveTabPaneClass("jobs")" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">
                <div class="p-4">
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-primary" @onclick="CreateNewJob">Add Job</button>
                    </div>

                    @if (Person.Jobs != null && Person.Jobs.Any())
                    {
                        <div class="row row-cols-1 row-cols-md-1 g-4">
                            @foreach (var job in Person.Jobs)
                            {
                                <div class="col">
                                    <div @onclick="@(() => EditJob(job.Id))" style="cursor: pointer;">
                                        <JobCardComponent Job="@job" />
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info" role="alert">
                            No jobs available. Click 'Create New Job' to add one.
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade @ActiveTabPaneClass("education")" id="education" role="tabpanel" aria-labelledby="education-tab">
                <div class="p-4">
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-primary" @onclick="CreateSchool">Add School</button>
                    </div>
                    @if (Person.Education != null)
                    {
                        foreach (var school in Person.Education)
                        {
                            <div @onclick="@(() => EditSchool(school.Id))" style="cursor: pointer;">

                                <SchoolDetailsComponent School="@school"></SchoolDetailsComponent>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade @ActiveTabPaneClass("skills")" id="skills" role="tabpanel" aria-labelledby="skills-tab">
                <div class="p-4">
                    @if (Person.Skills != null)
                    {
                        foreach (var skill in Person.Skills)
                        {
                            <p>@skill.Name (@skill.Rating)</p>
                        }
                    }
                </div>
            </div>
            <div class="tab-pane fade @ActiveTabPaneClass("references")" id="references" role="tabpanel" aria-labelledby="references-tab">
                <div class="mb-3 d-flex justify-content-end">
                    <button class="btn btn-primary" @onclick="CreateReference">Add Reference</button>
                </div>
                <div class="p-4">
                    References
                </div>
            </div>
            <div class="tab-pane fade @ActiveTabPaneClass("certifications")" id="certifications" role="tabpanel" aria-labelledby="certifications-tab">
                <div class="p-4">
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-primary" @onclick="CreateCertification">Add Certification</button>
                    </div>
                    @if (Person.Certifications != null)
                    {
                        foreach (var certification in Person.Certifications)
                        {
                            <div @onclick="@(() => EditCertification(certification.Id))" style="cursor: pointer;">
                                <CertificationCard Certification="certification"></CertificationCard>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </Container>
}

