@page "/templates"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h2>Templates</h2>

@if (TemplateRecords != null)
{

    <button class="btn btn-success mb-3" @onclick="CreateNewTemplate">Add New Template</button>


    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    @foreach (var template in TemplateRecords)
                    {
                        <button class="nav-link custom-tab @((selectedTemplate != null && selectedTemplate.Id == template.Id) ? "active" : "")" 
                                @onclick="() => SelectTemplate(template)">
                            @template.Name
                        </button>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    @if (selectedTemplate != null)
                    {
                        <div class="tab-pane fade show active">
                            <h3>@(selectedTemplate.Id == 0 ? "New Template" : selectedTemplate.Name)</h3>
                            <textarea class="form-control" rows="10" @bind="selectedTemplate.Source" disabled="@selectedTemplate.IsGlobal"></textarea>
                            <small class="text-muted">Format: @selectedTemplate.Format, Engine: @selectedTemplate.Engine</small>
                            @if (!selectedTemplate.IsGlobal)
                            {
                                <button class="btn btn-primary mt-2" @onclick="() => SaveTemplate(selectedTemplate.Id == 0)">Save</button>
                            }
                        </div>
                        @if (selectedTemplate.Id == 0)
                        {
                            <!-- Binding new template options -->
                            <div>
                                <input class="form-control" placeholder="Name" @bind="newTemplateOptions.Name" />
                                <input class="form-control mt-2" placeholder="Format" @bind="newTemplateOptions.Format" />
                                <input class="form-control mt-2" placeholder="Engine" @bind="newTemplateOptions.Engine" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

}