@page "/templates"
@using Microsoft.AspNetCore.Authorization
@using ResumePro.Shared.Models

@attribute [Authorize]

<h2>Templates</h2>

@if (TemplateRecords != null)
{
    <button class="btn btn-success mb-3" @onclick="CreateNewTemplate">Add New Template</button>


    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    @foreach (TemplateDto template in TemplateRecords)
                    {
                        <button class="nav-link custom-tab @(SelectedTemplate != null && SelectedTemplate.Id == template.Id ? "active" : "")"
                                @onclick="() => SelectTemplate(template)">
                            @template.Name
                        </button>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    @if (SelectedTemplate != null)
                    {
                        <div class="tab-pane fade show active">
                            <h3>@(SelectedTemplate.Id == 0 ? "New Template" : SelectedTemplate.Name)</h3>
                            <textarea class="form-control" rows="10" @bind="SelectedTemplate.Source" disabled="@SelectedTemplate.IsGlobal"></textarea>
                            <small class="text-muted">Format: @SelectedTemplate.Format, Engine: @SelectedTemplate.Engine</small>
                            @if (!SelectedTemplate.IsGlobal)
                            {
                                <button class="btn btn-primary mt-2" @onclick="() => SaveTemplate(SelectedTemplate.Id == 0)">Save</button>
                            }
                        </div>
                        @if (SelectedTemplate.Id == 0)
                        {
                            <!-- Binding new template options -->
                            <div>
                                <input class="form-control" placeholder="Name" @bind="CreateTemplateOptions.Name"/>
                                <input class="form-control mt-2" placeholder="Format" @bind="CreateTemplateOptions.Format"/>
                                <input class="form-control mt-2" placeholder="Engine" @bind="CreateTemplateOptions.Engine"/>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}