@using ResumePro.Shared.Models
<div class="resume-details">

    <h3>@Resume.FirstName @Resume.LastName, @Resume.JobTitle</h3>
    <p>@Resume.Description</p>

    <ResumeContactInfoComponent Resume="@Resume"></ResumeContactInfoComponent>
    
    @if (Resume.Skills.Any())
    {
        <ResumeSkillTableComponent ResumeSkills="Resume.Skills"></ResumeSkillTableComponent>
    }

    @if (Resume.Jobs != null && Resume.Jobs.Any())
    {
        <h4>Experience</h4>
        @foreach (CompanyDetails job in Resume.Jobs)
        {
            <JobDetailsComponent CompanyDetails="@job"></JobDetailsComponent>
        }
    }

    @if (Resume.Education.Any())
    {
        <h4>Education</h4>
        @if (Resume.Education != null)
        {
            foreach (SchoolDetails edu in Resume.Education)
            {
                <SchoolDetailsComponent School="@edu"></SchoolDetailsComponent>
            }
        }
    }


    @if (Resume.Certifications.Any())
    {
        <h4>Certifications</h4>
        @if (Resume.Certifications != null)
        {
            foreach (CertificationDto cert in Resume.Certifications)
            {
                <CertificationCard Certification="cert"></CertificationCard>
            }
        }
    }


</div>